<%- include('./partials/head') %>
<section class="section-1">
    <%- include('./partials/carousel') %>
    <%- include('./partials/carouselmusic') %>
    <%- include('./partials/carouselact') %>
</section>
<%- include('./partials/foot') %>