<%- include('./partials/head') %>
<section class="section-1">
    <%- include('./partials/carousel') %>
    <%- include('./partials/carouselmusic') %>
    <%- include('./partials/carouselact') %>
</section>

<!-- <div class="popup">
    <button id="popbutton">Click me away</button>
    <h1>hello</h1>
</div> -->

<%- include('./partials/foot') %>