<%- include('./partials/head') %>
<section class="section-1">
    <div class="hero">
            <img height="60" src="/assets/oba_logo_RGB-rood.png" alt="oba-logo">
    </div>
    <%- include('./partials/carousel') %>
    <%- include('./partials/carouselmusic') %>
    <%- include('./partials/carouselact') %>
</section>
<%- include('./partials/foot') %>